html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.transactions-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}